{% extends 'base.html' %}
{% load static %}
{% block content %}
<div id="product_slide" class="product_slide" style="background: black;">
  <br/><br/><br/><br/><br/><br/><br/>
</div>

<!-- ======= Contact Section ======= -->

    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title">
          <h2>Login</h2>
        </div>

        <div class="row mt-5">
            <div class="col-lg-8 offset-lg-4 mt-5 mt-lg-0">
                <form method="POST" action="{% url 'login' %}" role="form" class="php-email-form">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-6 form-group">
                          <input type="text" name="username" class="form-control" id="username" placeholder="Enter your username" required>
                        </div>
                    </div>

                    <div class="row">
                      <div class="col-md-6 form-group">
                        <input type="password" class="form-control" name="password" id="password" placeholder="Enter your password" required>
                      </div>
                  </div>
                    
                  <div class="row">
                    <div class="col-md-6 form-group">
                        <button type="submit">Login</button>
                    </div>
                  </div>
                </form>
            </div>
        </div>
    </section><!-- End Contact Section -->

{% endblock %}