{% extends 'base.html' %}
{% load static %}
{% block content %}
<div id="product_slide" class="product_slide" style="background: black;">
  <br/><br/><br/><br/><br/><br/><br/>
</div>
<!-- <main id="main">

 <header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Login</h1>
            <p class="lead fw-normal text-white-50 mb-0">Login to your account</p>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <br/><br/>
        <form method="POST" action="{% url 'login' %}">
            {% csrf_token %}
            <div class="mb-3">
              <input type="text" class="form-control" name="username", placeholder="Enter your username">
            </div>
            <div class="mb-3">
              <input type="password" class="form-control" name="password" placeholder="Enter your password">
            </div>
            <br/><br/>
            <button type="submit" class="btn btn-secondary">Login</button>
          </form>
          <br/><br/>
          <br/><br/>

    </div>
</div> -->
<!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title">
          <h2>Login</h2>
          <h3>Log <span>In</span></h3>
        </div>

        <div class="row mt-5">

          <div class="col-lg-8 mt-5 mt-lg-0">
            <form method="POST" action="{% url 'login' %}" role="form" class="php-email-form">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-6 form-group">
                        <input type="text" name="username" class="form-control" id="username" placeholder="Enter your username" required>
                    </div>
                    </div>
                    <div class="row">
                    <div class="col-md-6 form-group">
                        <input type="password" class="form-control" name="password" id="password" placeholder="Enter your password" required>
                    </div>
                  </div>
                </div>
                <div class="text-center"><button type="submit">Login</button></div>
            </form>
        </div>
        </div>
        <br/><br/>
        <br/><br/>
    </section>

{% endblock %}