{% load static %}
{% include 'login.html' %}
        <header id="header" class="fixed-top ">
            <div class="container d-flex align-items-center justify-content-between">
              <a href="{% url 'home' %}" class="logo"><img src="{% static 'assets/isociallogo.png' %}" alt="" class="img-fluid"></a>
              <nav id="navbar" class="navbar">
                <ul>
                  <li><a class="nav-link scrollto active" href="{% url 'home' %}">Home</a></li>
                  <li><a class="nav-link scrollto" href="{% url 'home' %}#about">About</a></li>
                  <li><a class="nav-link scrollto" href="{% url 'home' %}#services">Services</a></li>
                  <li><a class="nav-link scrollto" href="{% url 'home' %}#contact">Contact</a></li>
                  {% if user.is_authenticated %}
                  <li><a class="nav-link scrollto shopping-card" href="{% url 'cart_summary' %}">Cart <span class="badge bg-danger" id="cart_quantity">{{ cart|length }}</span></a></li>
                  <li><a class="nav-link scrollto" href="{% url 'update_user' %}">Profile</a></li>
                  {% if user.is_superuser %}
                  <li><a class="nav-link scrollto" href="{% url 'not_shipped_dash' %}">Orders</a></li>
                  {% endif %}
                  <li><a class="nav-link scrollto" href="{% url 'logout' %}">Logout</a></li>
                  {% else %}
                  <!-- <li> <a class="nav-link scrollto" href="{% url 'login' %}">Login</a></li> -->
                  <li><a class="nav-link scrollto" href="#" data-bs-toggle="modal" data-bs-target="#loginModal">Login</a></li>
                
                  <li>   <a class="nav-link scrollto" href="{% url 'register' %}">Register</a></li>
                  {% endif %}
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
              </nav>
            </div>
          </header>